In [110]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn import linear_model

In [111]:
# import dataset

charging_df = pd.read_csv('charging_data.csv')
charging_df

,Unnamed: 0,betreiber,art_der_ladeeinrichung,anzahl_ladepunkte,anschlussleistung,steckertypen1,steckertypen2,steckertypen3,steckertypen4,p1_kw,...,p4_kw,kreis_kreisfreie_stadt,ort,postleitzahl,strasse,hausnummer,adresszusatz,inbetriebnahmedatum,breitengrad,laengengrad
0,0,GGEW AG,Normalladeeinrichtung,1,4.6,AC Steckdose Typ 2,NaN,NaN,NaN,4.6,...,NaN,Landkreis Bergstraße,Lorsch,64653,Klosterstr.,23,NaN,2017-01-02,49.653064,8.572109
1,1,Pfalzwerke AG,Schnellladeeinrichtung,2,75.0,AC Steckdose Typ 2,DC Kupplung Combo,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Lorsch,64653,Nibelungenstraße,135-137,NaN,2021-04-27,49.652969,8.554764
2,2,ENTEGA Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Krumbacher Str.,39,NaN,2017-11-21,49.658037,8.787881
3,3,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Erbacher Str.,102,a,2022-04-08,49.663670,8.796830
4,4,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Schulstr.,12,NaN,2022-04-08,49.646360,8.781410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36765,36765,Stadtwerke Leipzig GmbH,Normalladeeinrichtung,2,30.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Kreisfreie Stadt Leipzig,Leipzig,4277,Bornaische Straße,108,NaN,2016-06-01,51.301227,12.384566
36766,36766,Stadtwerke Leipzig GmbH,Normalladeeinrichtung,2,30.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Kreisfreie Stadt Leipzig,Leipzig,4277,Scheffelstraße,35,NaN,2016-06-01,51.311695,12.372912
36767,36767,Stadtwerke Leipzig GmbH,Normalladeeinrichtung,2,30.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Kreisfreie Stadt Leipzig,Leipzig,4277,Bornaische Straße,55,NaN,2018-07-05,51.305046,12.382487
36768,36768,Stadtwerke Leipzig GmbH,Normalladeeinrichtung,2,30.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Kreisfreie Stadt Leipzig,Leipzig,4277,Richard Lehmann Straße,120,NaN,2019-08-12,51.314325,12.397213
36769,36769,Stadtwerke Leipzig GmbH,Normalladeeinrichtung,2,22.0,AC Kupplung Typ 2,AC Kupplung Typ 2,NaN,NaN,11.0,...,NaN,Kreisfreie Stadt Leipzig,Leipzig,4277,Eichendorffstraße,11,"Parkplatz Fitnessstudio, Zuganskarte notwendig",2022-04-13,51.314364,12.374747

In [112]:
charging_df.rename(columns={'art_der_ladeeinrichung': 'type_of_charging_equipment'}, inplace=True)

In [113]:
columns_list = charging_df.columns.tolist()
print(columns_list)

['Unnamed: 0', 'betreiber', 'type_of_charging_equipment', 'anzahl_ladepunkte', 'anschlussleistung', 'steckertypen1', 'steckertypen2', 'steckertypen3', 'steckertypen4', 'p1_kw', 'p2_kw', 'p3_kw', 'p4_kw', 'kreis_kreisfreie_stadt', 'ort', 'postleitzahl', 'strasse', 'hausnummer', 'adresszusatz', 'inbetriebnahmedatum', 'breitengrad', 'laengengrad']

In [114]:
charging_df.rename(columns={'anzahl_ladepunkte': 'number_of_charging_points'}, inplace=True)

In [115]:
charging_df.rename(columns={'anschlussleistung': 'connected_load'}, inplace=True)

In [116]:
charging_df.rename(columns={'steckertypen1': 'plug_types_1'}, inplace=True)

In [117]:
new_column_names = {'steckertypen2': 'plug_types_2', 'steckertypen3': 'plug_types_3', 'steckertypen4': 'plug_types_4','kreis_kreisfreie_stadt': 'district_city', 'ort': 'city', 'postleitzahl': 'zip_code', 'strasse': 'street', 'hausnummer': 'house_number', 'adresszusatz':'secondary_address','inbetriebnahmedatum': 'date_of_commissioning', 'breitengrad': 'latitude', 'laengengrad':'longitude'}
charging_df.rename(columns=new_column_names, inplace=True)

In [118]:
column_names = charging_df.columns.tolist()
print(column_names)

['Unnamed: 0', 'betreiber', 'type_of_charging_equipment', 'number_of_charging_points', 'connected_load', 'plug_types_1', 'plug_types_2', 'plug_types_3', 'plug_types_4', 'p1_kw', 'p2_kw', 'p3_kw', 'p4_kw', 'district_city', 'city', 'zip_code', 'street', 'house_number', 'secondary_address', 'date_of_commissioning', 'latitude', 'longitude']

In [119]:
charging_df.rename(columns={'betreiber': 'operator'}, inplace=True)

In [120]:
column_names = charging_df.columns.tolist()
print(column_names)

['Unnamed: 0', 'operator', 'type_of_charging_equipment', 'number_of_charging_points', 'connected_load', 'plug_types_1', 'plug_types_2', 'plug_types_3', 'plug_types_4', 'p1_kw', 'p2_kw', 'p3_kw', 'p4_kw', 'district_city', 'city', 'zip_code', 'street', 'house_number', 'secondary_address', 'date_of_commissioning', 'latitude', 'longitude']

In [121]:
charging_df.head()

,Unnamed: 0,operator,type_of_charging_equipment,number_of_charging_points,connected_load,plug_types_1,plug_types_2,plug_types_3,plug_types_4,p1_kw,...,p4_kw,district_city,city,zip_code,street,house_number,secondary_address,date_of_commissioning,latitude,longitude
0,0,GGEW AG,Normalladeeinrichtung,1,4.6,AC Steckdose Typ 2,NaN,NaN,NaN,4.6,...,NaN,Landkreis Bergstraße,Lorsch,64653,Klosterstr.,23,NaN,2017-01-02,49.653064,8.572109
1,1,Pfalzwerke AG,Schnellladeeinrichtung,2,75.0,AC Steckdose Typ 2,DC Kupplung Combo,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Lorsch,64653,Nibelungenstraße,135-137,NaN,2021-04-27,49.652969,8.554764
2,2,ENTEGA Energie GmbH,Normalladeeinrichtung,2,44.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Krumbacher Str.,39,NaN,2017-11-21,49.658037,8.787881
3,3,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Erbacher Str.,102,a,2022-04-08,49.663670,8.796830
4,4,Entega Plus GmbH,Normalladeeinrichtung,2,22.0,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22.0,...,NaN,Landkreis Bergstraße,Fürth,64658,Schulstr.,12,NaN,2022-04-08,49.646360,8.781410

In [122]:
charging_df['Unnamed: 0'].unique() 
#this seems like an identifier column, which does not make sense to consider in the analysis but will not drop it now

array([    0,     1,     2, ..., 36767, 36768, 36769])

In [123]:
charging_df['operator'].unique().T

array(['GGEW AG', 'Pfalzwerke AG', 'ENTEGA Energie GmbH', ...,
       'Auto Müller & Sohn OHG', 'Autohaus Dresden Reick GmbH & Co.KG',
       'Ingenieurbüro'], dtype=object)

In [124]:
value_counts1 = charging_df['operator'].value_counts()
first_values = value_counts1.head(100)  # Adjust the number according to your preference
print(first_values)

operator
E.ON Drive GmbH                        2154
EnBW mobility+ AG und Co.KG            2006
EWE Go GmbH                             894
Mercedes-Benz AG                        825
Westenergie Metering GmbH               795
                                       ...
Stadtwerke Waiblingen GmbH               52
Stadtwerke Göttingen eMobil              51
Städtische Werke AG                      51
HanseWerk Charging Station               50
EMobility Netzwerk Deutschland GmbH      48
Name: count, Length: 100, dtype: int64

In [125]:
#data frame containing all the operators that only have 1 charger
single_charing_point=charging_df[charging_df['operator'].map(charging_df['operator'].value_counts()) == 1]
single_charing_point['operator'].nunique()

2969

In [126]:
charging_df['type_of_charging_equipment'].unique()

array(['Normalladeeinrichtung', 'Schnellladeeinrichtung'], dtype=object)

In [127]:
charging_df['type_of_charging_equipment'] = charging_df['type_of_charging_equipment'].replace({'Normalladeeinrichtung': 'Standard_charger', 'Schnellladeeinrichtung': 'Super_charger'})

In [128]:
charging_df['type_of_charging_equipment'].unique()

array(['Standard_charger', 'Super_charger'], dtype=object)

In [129]:
charging_df['number_of_charging_points'].unique()

array([1, 2, 4, 3])

In [130]:
charging_df['connected_load'].unique()

array([   4.6 ,   75.  ,   44.  ,   22.  ,  150.  ,   98.  ,   93.  ,
         11.  ,   39.6 ,  250.  ,  300.  ,   50.  ,  350.  ,   33.  ,
        600.  ,   88.  ,   30.  ,   72.  ,  160.  ,  175.  ,  100.  ,
         66.  ,   43.  ,   26.4 ,   52.8 ,   39.65,   52.99,   42.  ,
          5.83,   35.  ,  400.  ,  360.  ,   34.5 ,  144.  ,   14.7 ,
          3.7 ,   13.2 ,  120.  ,   13.75,   16.  ,   77.  ,   60.  ,
        215.  ,  320.  ,   25.  ,  240.  ,  110.  ,   26.5 ,   32.  ,
         45.  ,   97.  ,    4.2 ,  165.  ,  200.  ,   20.  ,   25.2 ,
          5.5 ,  176.  ,   96.  ,  570.  ,  122.  ,   80.  ,   55.  ,
         40.  ,  155.  ,    8.  ,   73.  ,   62.5 ,  116.74,    3.6 ,
         39.  ,   70.  ,   26.  ,  156.  ,   82.  ,   24.  ,  125.  ,
         46.  ,  173.  , 1100.  ,   13.25,   78.  ,  210.  ,   85.  ,
         39.4 ,  115.  ,  180.  ,  225.  ,  800.  ,  315.  ,    7.2 ,
         51.4 ,   21.  ,  124.  ,    3.  ,   86.  ,   14.  ,  104.  ,
        132.  ,   73.2 ,   61.  ,  322.  ,  374.  ,  105.  ,   74.  ,
          3.5 ,   71.  ,   86.4 ,   94.  ,  172.  ,  900.  ,   52.  ,
          9.  ,  208.  ,  220.  ,    3.8 ,   43.5 ,   12.  ,  245.  ,
        140.  ,  452.  ,  159.  ,   90.  ,    2.  ,  184.  ,   34.  ,
         22.2 ,  142.  ,  260.  ,   92.  ,   86.5 ,   41.  ,  185.  ,
         36.  ,  130.  ,  310.  ,    7.4 ,   25.7 ,    7.  ,    6.  ,
        146.  ,  112.  ,   62.  ,   48.7 ,   34.6 ,   28.  ,   76.  ,
         38.  ,  340.  ,  102.  ,  290.  ,  149.  ,   43.6 ,    4.7 ,
          4.1 ,  154.  ,    6.4 ,   57.  ,   31.5 ,  116.  ,    7.5 ,
        270.  ,    5.  ,  161.  ,  264.  ,   17.  ,   99.  ,  194.  ,
          7.1 ,   53.  ,   36.8 ,   27.68,  196.  ,  218.  ,  170.  ,
         84.  ,   23.  ,   15.  ,   10.  ,   62.2 ,  143.  ,  256.  ,
        720.  ,   48.  ,  282.  ,   47.  ,  126.  , 1200.  ,  690.  ,
        630.  ,   13.8 ,   11.4 ,   22.1 ,  116.4 ,   68.  ,  386.5 ,
          6.6 ,    4.  ,  134.  ,   64.  ,    7.36,   82.5 ,  228.  ,
         47.6 ,   43.59,   59.  ,  700.  ,   10.56,   65.  ,    4.14,
        135.  ,   63.  ,  199.  ])

In [131]:
charging_df['connected_load'].dtype

dtype('float64')

In [132]:
charging_df['plug_types_1'].unique()

array(['AC Steckdose Typ 2', 'DC Kupplung Combo', 'AC Kupplung Typ 2',
       'AC Steckdose Typ 2, AC Kupplung Typ 2',
       'DC Kupplung Combo, DC CHAdeMO', 'AC Steckdose Typ 2, AC Schuko',
       'AC Steckdose Typ 2, DC Kupplung Combo, DC CHAdeMO',
       'AC Kupplung Typ 2, DC CHAdeMO',
       'AC Kupplung Typ 2, DC Kupplung Combo',
       'AC Kupplung Typ 2, AC Schuko',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, DC Kupplung Combo',
       'AC Kupplung Typ 2, DC Kupplung Combo, DC CHAdeMO',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko',
       'AC Steckdose Typ 2, DC Kupplung Combo, AC Schuko',
       'AC Schuko, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC Kupplung Combo',
       'DC Kupplung Combo, AC CEE 3 polig',
       'AC Steckdose Typ 2, AC Schuko, AC CEE 5 polig',
       'AC Steckdose Typ 2, DC CHAdeMO',
       'AC Steckdose Typ 2, AC Schuko, DC CHAdeMO',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, AC CEE 5 polig',
       'AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC Kupplung Combo, AC Schuko',
       'AC Steckdose Typ 2, AC CEE 3 polig',
       'AC Kupplung Typ 2, AC CEE 3 polig',
       'DC Kupplung Combo, DC CHAdeMO, DC Kupplung Tesla Typ 2',
       'AC Kupplung Typ 2, AC Schuko, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC Kupplung Combo, DC CHAdeMO',
       'AC Kupplung Typ 2, DC Kupplung Combo, DC CHAdeMO, AC CEE 5 polig',
       'AC Kupplung Typ 2, Adapter Typ1 \xa0Auto auf Typ2 Fahrzeugkupplung',
       'AC Schuko', 'DC Kupplung Combo, AC Schuko',
       'AC Kupplung Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, AC CEE 3 polig; AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC CHAdeMO',
       'DC Kupplung Combo, AC CEE 5 polig', 'AC CEE 3 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, DC CHAdeMO',
       'AC Steckdose Typ 2, CEE-Stecker'], dtype=object)

In [133]:
charging_df['plug_types_2'].unique()

array([nan, 'DC Kupplung Combo', 'AC Steckdose Typ 2',
       'DC Kupplung Combo, DC CHAdeMO', 'AC Kupplung Typ 2',
       'AC Steckdose Typ 2, AC Schuko',
       'AC Steckdose Typ 2, AC Kupplung Typ 2',
       'AC Kupplung Typ 2, DC CHAdeMO',
       'AC Kupplung Typ 2, DC Kupplung Combo',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, DC Kupplung Combo',
       'AC Kupplung Typ 2, DC Kupplung Combo, DC CHAdeMO', 'DC CHAdeMO',
       'AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC CHAdeMO', 'AC Schuko',
       'AC Schuko, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC Kupplung Combo',
       'AC Steckdose Typ 2, DC Kupplung Combo, AC Schuko',
       'DC Kupplung Combo, AC CEE 5 polig',
       'AC Steckdose Typ 2, DC CHAdeMO', 'AC Kupplung Typ 2, AC Schuko',
       'AC Steckdose Typ 2, AC CEE 3 polig',
       'AC Steckdose Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko',
       'AC Kupplung Typ 2, AC CEE 3 polig',
       'AC Steckdose Typ 2, DC Kupplung Combo, DC CHAdeMO',
       'AC Kupplung Typ 2, AC CEE 5 polig', 'AC CEE 3 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, AC CEE 3 polig; AC CEE 5 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC / CEE'], dtype=object)

In [134]:
charging_df['plug_types_3'].unique()

array([nan, 'AC Steckdose Typ 2', 'AC Steckdose Typ 2, AC Kupplung Typ 2',
       'AC Steckdose Typ 2, AC Schuko', 'AC Kupplung Typ 2, DC CHAdeMO',
       'AC Kupplung Typ 2', 'DC Kupplung Combo', 'AC Schuko',
       'DC Kupplung Combo, DC CHAdeMO',
       'AC Kupplung Typ 2, DC Kupplung Combo',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC CHAdeMO', 'DC CHAdeMO',
       'AC Steckdose Typ 2, DC Kupplung Combo',
       'AC Steckdose Typ 2, AC CEE 5 polig',
       'AC Kupplung Typ 2, AC Schuko',
       'AC Kupplung Typ 2, AC CEE 5 polig',
       'AC Steckdose Typ 2, AC CEE 3 polig',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, DC Kupplung Combo, DC CHAdeMO',
       'AC Steckdose Typ 2, DC CHAdeMO'], dtype=object)

In [135]:
charging_df['plug_types_4'].unique()

array([nan, 'AC Steckdose Typ 2', 'DC Kupplung Combo',
       'AC Steckdose Typ 2, AC Schuko', 'AC Kupplung Typ 2',
       'AC Steckdose Typ 2, AC Kupplung Typ 2', 'AC Schuko',
       'AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, AC CEE 3 polig',
       'DC Kupplung Combo, DC CHAdeMO',
       'DC Kupplung Combo, DC CHAdeMO, Tesla',
       'AC Steckdose Typ 2, AC CEE 5 polig',
       'DC Kupplung Combo, Typ 2 / Tesla',
       'AC Kupplung Typ 2, AC CEE 5 polig', 'DC Kupplung Combo, Tesla',
       'AC Steckdose Typ 2, DC Kupplung Combo'], dtype=object)

In [136]:
#there seems to be some chargers which have up to 4 plug types 
charging_df['plug_types_4'].value_counts()

plug_types_4
AC Steckdose Typ 2                                                  847
AC Kupplung Typ 2                                                   125
DC Kupplung Combo                                                    47
AC Schuko                                                            46
AC Steckdose Typ 2, AC Kupplung Typ 2                                30
AC Steckdose Typ 2, AC Schuko                                        22
DC Kupplung Combo, DC CHAdeMO                                         7
AC Steckdose Typ 2, DC Kupplung Combo                                 2
AC Steckdose Typ 2, AC Kupplung Typ 2, AC Schuko, AC CEE 3 polig      1
DC Kupplung Combo, DC CHAdeMO, Tesla                                  1
AC Steckdose Typ 2, AC CEE 5 polig                                    1
DC Kupplung Combo, Typ 2 / Tesla                                      1
AC Kupplung Typ 2, AC CEE 5 polig                                     1
DC Kupplung Combo, Tesla                                              1
Name: count, dtype: int64

In [137]:
charging_df['p1_kw'].unique()

array([  4.6 ,  22.  , 150.  ,  43.  ,  11.  ,  50.  , 300.  , 350.  ,
       225.  , 175.  , 100.  ,   5.83,  17.  ,   3.7 ,  90.  ,  60.  ,
        13.75, 160.  ,  42.  ,  16.  ,  25.  , 120.  ,  75.  ,  39.  ,
         4.2 ,  80.  , 250.  ,   2.  ,  20.  , 200.  ,   5.5 , 320.  ,
       280.  , 180.  ,  40.  , 360.  ,   8.  ,  15.  ,  62.5 ,   3.6 ,
       125.  ,  24.  ,  78.  ,  65.  ,  45.  ,   7.2 ,  21.  , 156.  ,
       124.  ,   3.  ,  86.  ,   4.  ,   7.  ,  44.  ,   3.5 , 140.  ,
        30.  ,   9.  ,  98.  ,   3.8 ,  22.1 ,  70.  ,  35.  , 240.  ,
       184.  ,  22.2 , 134.  ,  53.  , 130.  , 110.  ,   7.4 ,   7.3 ,
       146.  ,  10.  ,   4.7 ,  19.  , 290.  ,   8.3 ,   6.4 ,   7.5 ,
         2.3 ,   5.  ,  16.5 ,   6.  ,  72.  ,  99.  ,   7.1 ,   1.  ,
       218.  ,  55.  , 185.  ,  49.  ,  21.75,  18.  , 256.  ,  48.  ,
       145.  ,  33.  ,  21.9 ,  12.  , 230.  ,  93.  ,  13.8 , 144.  ,
        11.4 ,  14.  ,   6.6 ,   7.36, 270.  , 149.  ,  62.  , 135.  ,
       155.  ,  10.56,  17.25,   4.14])

In [138]:
charging_df['p1_kw'].dtype

dtype('float64')

In [139]:
charging_df['p2_kw'].unique()

array([   nan,  50.  ,  22.  , 150.  ,  11.  ,  42.  , 300.  , 225.  ,
        30.  ,  43.  ,  20.  , 350.  ,  17.  ,   3.7 ,  90.  ,  60.  ,
        13.75, 160.  , 100.  ,  25.  , 120.  ,  75.  ,  39.  , 320.  ,
       250.  , 200.  ,   5.5 , 280.  , 180.  ,  40.  , 360.  ,   8.  ,
        15.  ,   2.3 ,  24.  ,  32.  , 125.  ,  78.  ,  44.  ,  62.5 ,
       175.  , 156.  , 124.  ,  86.  ,   4.  ,   7.  ,   7.2 , 140.  ,
       240.  ,  70.  ,  16.  ,   4.6 ,  22.2 ,  22.1 , 134.  , 130.  ,
       110.  ,   3.  , 146.  ,  10.  ,  62.  ,  80.  ,  59.  ,  19.  ,
        21.  , 290.  ,  45.  ,  35.  ,   3.5 ,   5.  ,   7.5 ,  16.5 ,
        99.  ,   7.4 ,  55.  , 218.  ,  38.  ,  76.5 , 185.  ,   3.6 ,
        47.  ,  21.75,  18.  , 256.  , 145.  ,  36.  ,  23.  ,  33.  ,
        12.  , 230.  ,  49.  ,  93.  ,  11.4 ,   2.5 ,  14.  ,   2.  ,
         7.36, 270.  , 149.  , 155.  ,  17.25,   4.14, 135.  ])

In [140]:
charging_df['p3_kw'].unique()

array([   nan,  11.  ,  22.  ,  44.  ,   7.5 ,  50.  ,   3.7 , 300.  ,
        60.  ,  43.  , 150.  ,   3.  , 225.  ,   3.6 ,  75.  , 175.  ,
       100.  ,   7.2 ,   2.  ,  30.  ,  25.  , 360.  ,  22.1 , 112.5 ,
       120.  , 350.  , 320.  , 160.  ,  20.  ,   5.  ,   2.3 , 180.  ,
         7.  ,  76.5 ,  10.  ,  18.  ,  36.  ,  23.  , 200.  ,  93.  ,
         3.5 ,  26.6 ,   7.36,  16.  ,  45.  ])

In [141]:
charging_df['p4_kw'].unique()

array([  nan,  11. ,  22. , 100. ,  50. ,   3.7, 300. ,   3. , 150. ,
       225. ,  75. , 175. ,   3.6, 360. ,  43. ,  22.1,  37.5,  30. ,
       350. , 320. ,   2.3,   7. ,   7.5,  44. ,  18. ,   7.2, 180. ,
         7.4,   3.5,  16. ,  20. ])

In [142]:
charging_df['district_city'].unique()

array(['Landkreis Bergstraße', 'Landkreis Darmstadt-Dieburg',
       'Landkreis Fulda', 'Landkreis Gießen', 'Landkreis Groß-Gerau',
       'Landkreis Hersfeld-Rotenburg', 'Landkreis Hochtaunuskreis',
       'Landkreis Kassel', 'Landkreis Lahn-Dill-Kreis',
       'Landkreis Limburg-Weilburg', 'Landkreis Main-Kinzig-Kreis',
       'Landkreis Main-Taunus-Kreis', 'Landkreis Marburg-Biedenkopf',
       'Landkreis Odenwaldkreis', 'Landkreis Offenbach',
       'Landkreis Rheingau-Taunus-Kreis', 'Landkreis Schwalm-Eder-Kreis',
       'Landkreis Vogelsbergkreis', 'Landkreis Waldeck-Frankenberg',
       'Landkreis Werra-Meißner-Kreis', 'Landkreis Wetteraukreis',
       'Kreisfreie Stadt Rostock', 'Kreisfreie Stadt Schwerin',
       'Landkreis Ludwigslust-Parchim',
       'Landkreis Mecklenburgische Seenplatte',
       'Landkreis Nordwestmecklenburg', 'Landkreis Rostock',
       'Landkreis Vorpommern-Greifswald', 'Landkreis Vorpommern-Rügen',
       'Kreisfreie Stadt Braunschweig', 'Kreisfreie Stadt Delmenhorst',
       'Kreisfreie Stadt Emden', 'Kreisfreie Stadt Oldenburg (Oldb)',
       'Kreisfreie Stadt Osnabrück', 'Kreisfreie Stadt Salzgitter',
       'Kreisfreie Stadt Wilhelmshaven', 'Kreisfreie Stadt Wolfsburg',
       'Landkreis Ammerland', 'Landkreis Aurich', 'Landkreis Celle',
       'Landkreis Cloppenburg', 'Landkreis Cuxhaven',
       'Landkreis Diepholz', 'Landkreis Emsland', 'Landkreis Friesland',
       'Landkreis Gifhorn', 'Landkreis Goslar', 'Landkreis Göttingen',
       'Landkreis Grafschaft Bentheim', 'Landkreis Hameln-Pyrmont',
       'Landkreis Harburg', 'Landkreis Heidekreis', 'Landkreis Helmstedt',
       'Landkreis Hildesheim', 'Landkreis Holzminden', 'Landkreis Leer',
       'Landkreis Lüchow-Dannenberg', 'Landkreis Lüneburg',
       'Landkreis Nienburg (Weser)', 'Landkreis Northeim',
       'Landkreis Oldenburg', 'Landkreis Osnabrück',
       'Landkreis Osterholz', 'Landkreis Peine',
       'Landkreis Region Hannover', 'Landkreis Rotenburg (Wümme)',
       'Landkreis Schaumburg', 'Landkreis Stade', 'Landkreis Uelzen',
       'Landkreis Vechta', 'Landkreis Verden', 'Landkreis Ravensburg',
       'Landkreis Rems-Murr-Kreis', 'Landkreis Reutlingen',
       'Landkreis Rhein-Neckar-Kreis', 'Landkreis Rottweil',
       'Landkreis Schwäbisch Hall', 'Landkreis Schwarzwald-Baar-Kreis',
       'Landkreis Sigmaringen', 'Landkreis Tübingen',
       'Landkreis Tuttlingen', 'Landkreis Waldshut',
       'Landkreis Zollernalbkreis', 'Stadtkreis Baden-Baden',
       'Stadtkreis Freiburg im Breisgau', 'Stadtkreis Heidelberg',
       'Stadtkreis Heilbronn', 'Stadtkreis Karlsruhe',
       'Stadtkreis Mannheim', 'Stadtkreis Pforzheim',
       'Stadtkreis Stuttgart', 'Stadtkreis Ulm',
       'Kreisfreie Stadt Amberg', 'Kreisfreie Stadt Ansbach',
       'Kreisfreie Stadt Aschaffenburg', 'Kreisfreie Stadt Augsburg',
       'Kreisfreie Stadt Bamberg', 'Kreisfreie Stadt Bayreuth',
       'Kreisfreie Stadt Coburg', 'Kreisfreie Stadt Erlangen',
       'Kreisfreie Stadt Fürth', 'Kreisfreie Stadt Hof',
       'Kreisfreie Stadt Ingolstadt', 'Kreisfreie Stadt Kaufbeuren',
       'Kreisfreie Stadt Kempten (Allgäu)', 'Kreisfreie Stadt Landshut',
       'Kreisfreie Stadt Memmingen', 'Kreisfreie Stadt München',
       'Kreis Borken', 'Kreis Coesfeld', 'Kreis Düren',
       'Kreis Ennepe-Ruhr-Kreis', 'Kreis Euskirchen', 'Kreis Gütersloh',
       'Kreis Heinsberg', 'Kreis Herford', 'Kreis Hochsauerlandkreis',
       'Kreis Höxter', 'Kreis Kleve', 'Kreis Lippe',
       'Kreis Märkischer Kreis', 'Landkreis Alb-Donau-Kreis',
       'Landkreis Biberach', 'Landkreis Böblingen',
       'Landkreis Bodenseekreis', 'Landkreis Breisgau-Hochschwarzwald',
       'Landkreis Calw', 'Landkreis Emmendingen', 'Landkreis Enzkreis',
       'Landkreis Esslingen', 'Landkreis Freudenstadt',
       'Landkreis Göppingen', 'Landkreis Heidenheim',
       'Landkreis Heilbronn', 'Landkreis Hohenlohekreis',
       'Landkreis Karlsruhe', 'Landkreis Konstanz', 'Landkreis Lörrach',
       'Landkreis Ludwigsburg', 'Landkreis Main-Tauber-Kreis',
       'Landkreis Neckar-Odenwald-Kreis', 'Landkreis Ortenaukreis',
       'Landkreis Ostalbkreis', 'Landkreis Rastatt',
       'Kreisfreie Stadt Hamburg', 'Kreisfreie Stadt Darmstadt',
       'Kreisfreie Stadt Frankfurt am Main', 'Kreisfreie Stadt Kassel',
       'Kreisfreie Stadt Offenbach am Main', 'Kreisfreie Stadt Wiesbaden',
       'Landkreis Wesermarsch', 'Landkreis Wittmund',
       'Landkreis Wolfenbüttel', 'Kreisfreie Stadt Hagen',
       'Kreisfreie Stadt Hamm', 'Kreisfreie Stadt Herne',
       'Kreisfreie Stadt Köln', 'Kreisfreie Stadt Krefeld',
       'Kreisfreie Stadt Leverkusen', 'Kreisfreie Stadt Mönchengladbach',
       'Kreisfreie Stadt Mülheim an der Ruhr', 'Kreisfreie Stadt Münster',
       'Kreisfreie Stadt Oberhausen', 'Kreisfreie Stadt Remscheid',
       'Kreisfreie Stadt Solingen', 'Kreisfreie Stadt Wuppertal',
       'Kreisfreie Stadt Frankenthal (Pfalz)',
       'Kreisfreie Stadt Kaiserslautern', 'Kreisfreie Stadt Koblenz',
       'Kreisfreie Stadt Landau in der Pfalz',
       'Kreisfreie Stadt Ludwigshafen am Rhein', 'Kreisfreie Stadt Mainz',
       'Kreisfreie Stadt Neustadt an der Weinstraße',
       'Kreisfreie Stadt Pirmasens', 'Kreisfreie Stadt Speyer',
       'Kreisfreie Stadt Trier', 'Kreisfreie Stadt Worms',
       'Kreisfreie Stadt Zweibrücken', 'Landkreis Ahrweiler',
       'Landkreis Altenkirchen (Westerwald)', 'Landkreis Alzey-Worms',
       'Landkreis Bad Dürkheim', 'Landkreis Bad Kreuznach',
       'Landkreis Bernkastel-Wittlich', 'Landkreis Birkenfeld',
       'Landkreis Cochem-Zell', 'Landkreis Donnersbergkreis',
       'Landkreis Eifelkreis Bitburg-Prüm', 'Landkreis Germersheim',
       'Landkreis Kaiserslautern', 'Landkreis Kusel',
       'Landkreis Mainz-Bingen', 'Landkreis Mayen-Koblenz',
       'Landkreis Neuwied', 'Landkreis Rhein-Hunsrück-Kreis',
       'Landkreis Rhein-Lahn-Kreis', 'Landkreis Rhein-Pfalz-Kreis',
       'Landkreis Südliche Weinstraße', 'Landkreis Südwestpfalz',
       'Landkreis Trier-Saarburg', 'Landkreis Vulkaneifel',
       'Landkreis Westerwaldkreis', 'Landkreis Merzig-Wadern',
       'Landkreis Neunkirchen', 'Landkreis Regionalverband Saarbrücken',
       'Landkreis Saarlouis', 'Landkreis Saarpfalz-Kreis',
       'Landkreis St. Wendel', 'Kreisfreie Stadt Chemnitz',
       'Kreisfreie Stadt Dresden', 'Kreisfreie Stadt Leipzig',
       'Kreisfreie Stadt Nürnberg', 'Kreisfreie Stadt Passau',
       'Kreisfreie Stadt Regensburg', 'Kreisfreie Stadt Rosenheim',
       'Kreisfreie Stadt Schwabach', 'Kreisfreie Stadt Schweinfurt',
       'Kreisfreie Stadt Straubing', 'Kreisfreie Stadt Weiden i.d. OPf.',
       'Kreisfreie Stadt Würzburg', 'Landkreis Aichach-Friedberg',
       'Landkreis Altötting', 'Landkreis Amberg-Sulzbach',
       'Landkreis Ansbach', 'Landkreis Aschaffenburg',
       'Landkreis Augsburg', 'Landkreis Bad Kissingen',
       'Landkreis Bad Tölz-Wolfratshausen', 'Landkreis Bamberg',
       'Landkreis Bayreuth', 'Landkreis Berchtesgadener Land',
       'Landkreis Cham', 'Landkreis Coburg', 'Landkreis Dachau',
       'Landkreis Deggendorf', 'Landkreis Dillingen a.d. Donau',
       'Landkreis Dingolfing-Landau', 'Landkreis Donau-Ries',
       'Landkreis Ebersberg', 'Landkreis Eichstätt', 'Landkreis Erding',
       'Landkreis Erlangen-Höchstadt', 'Landkreis Forchheim',
       'Landkreis Freising', 'Landkreis Freyung-Grafenau',
       'Landkreis Fürstenfeldbruck', 'Landkreis Fürth',
       'Landkreis Garmisch-Partenkirchen', 'Landkreis Günzburg',
       'Landkreis Haßberge', 'Landkreis Hof', 'Landkreis Kelheim',
       'Landkreis Kitzingen', 'Landkreis Kronach', 'Landkreis Kulmbach',
       'Landkreis Landsberg am Lech', 'Landkreis Landshut',
       'Landkreis Lichtenfels', 'Landkreis Lindau (Bodensee)',
       'Landkreis Main-Spessart', 'Landkreis Miesbach',
       'Landkreis Miltenberg', 'Landkreis Mühldorf a. Inn',
       'Landkreis München', 'Landkreis Neuburg-Schrobenhausen',
       'Landkreis Neumarkt i.d. OPf.',
       'Landkreis Neustadt a.d. Aisch-Bad Windsheim',
       'Landkreis Neustadt a.d. Waldnaab', 'Landkreis Neu-Ulm',
       'Landkreis Nürnberger Land', 'Landkreis Oberallgäu',
       'Landkreis Ostallgäu', 'Landkreis Passau',
       'Landkreis Pfaffenhofen a.d. Ilm', 'Landkreis Regen',
       'Landkreis Regensburg', 'Landkreis Rhön-Grabfeld',
       'Landkreis Rosenheim', 'Landkreis Roth', 'Landkreis Rottal-Inn',
       'Landkreis Schwandorf', 'Landkreis Schweinfurt',
       'Landkreis Starnberg', 'Landkreis Straubing-Bogen',
       'Landkreis Tirschenreuth', 'Landkreis Traunstein',
       'Landkreis Unterallgäu', 'Landkreis Weilheim-Schongau',
       'Landkreis Weißenburg-Gunzenhausen',
       'Landkreis Wunsiedel i. Fichtelgebirge', 'Landkreis Würzburg',
       'Kreisfreie Stadt Berlin',
       'Kreisfreie Stadt Brandenburg an der Havel',
       'Kreisfreie Stadt Cottbus', 'Kreisfreie Stadt Frankfurt (Oder)',
       'Kreisfreie Stadt Potsdam', 'Landkreis Barnim',
       'Landkreis Dahme-Spreewald', 'Landkreis Elbe-Elster',
       'Landkreis Havelland', 'Landkreis Märkisch-Oderland',
       'Landkreis Oberhavel', 'Landkreis Oberspreewald-Lausitz',
       'Landkreis Oder-Spree', 'Landkreis Ostprignitz-Ruppin',
       'Landkreis Potsdam-Mittelmark', 'Landkreis Prignitz',
       'Landkreis Spree-Neiße', 'Landkreis Teltow-Fläming',
       'Landkreis Uckermark', 'Kreisfreie Stadt Bremen',
       'Kreisfreie Stadt Bremerhaven', 'Kreis Minden-Lübbecke',
       'Kreis Oberbergischer Kreis', 'Kreis Olpe', 'Kreis Paderborn',
       'Kreis Recklinghausen', 'Kreis Rhein-Erft-Kreis',
       'Kreis Rheinisch-Bergischer Kreis', 'Kreis Rhein-Kreis Neuss',
       'Kreis Rhein-Sieg-Kreis', 'Kreis Siegen-Wittgenstein',
       'Kreis Soest', 'Kreis Städteregion Aachen', 'Kreis Steinfurt',
       'Kreis Unna', 'Kreis Viersen', 'Kreis Warendorf', 'Kreis Wesel',
       'Kreis Mettmann', 'Kreisfreie Stadt Düsseldorf',
       'Kreisfreie Stadt Essen', 'Kreisfreie Stadt Gelsenkirchen',
       'Kreisfreie Stadt Dessau-Roßlau', 'Kreisfreie Stadt Halle (Saale)',
       'Kreisfreie Stadt Magdeburg', 'Landkreis Altmarkkreis Salzwedel',
       'Landkreis Anhalt-Bitterfeld', 'Landkreis Börde',
       'Landkreis Burgenlandkreis', 'Landkreis Harz',
       'Landkreis Jerichower Land', 'Landkreis Mansfeld-Südharz',
       'Landkreis Saalekreis', 'Landkreis Salzlandkreis',
       'Landkreis Stendal', 'Landkreis Wittenberg', 'Kreis Dithmarschen',
       'Kreis Herzogtum Lauenburg', 'Kreis Nordfriesland',
       'Kreis Ostholstein', 'Kreis Pinneberg', 'Kreis Plön',
       'Kreis Rendsburg-Eckernförde', 'Kreis Schleswig-Flensburg',
       'Kreis Segeberg', 'Kreis Steinburg', 'Kreis Stormarn',
       'Kreisfreie Stadt Flensburg', 'Kreisfreie Stadt Kiel',
       'Kreisfreie Stadt Lübeck', 'Kreisfreie Stadt Neumünster',
       'Kreisfreie Stadt Erfurt', 'Kreisfreie Stadt Gera',
       'Kreisfreie Stadt Jena', 'Kreisfreie Stadt Suhl',
       'Kreisfreie Stadt Weimar', 'Landkreis Altenburger Land',
       'Landkreis Eichsfeld', 'Landkreis Gotha', 'Landkreis Greiz',
       'Landkreis Hildburghausen', 'Landkreis Ilm-Kreis',
       'Landkreis Kyffhäuserkreis', 'Landkreis Nordhausen',
       'Landkreis Saale-Holzland-Kreis', 'Landkreis Saale-Orla-Kreis',
       'Landkreis Saalfeld-Rudolstadt',
       'Landkreis Schmalkalden-Meiningen', 'Landkreis Sömmerda',
       'Landkreis Sonneberg', 'Landkreis Unstrut-Hainich-Kreis',
       'Landkreis Wartburgkreis', 'Landkreis Weimarer Land',
       'Kreisfreie Stadt Bielefeld', 'Kreisfreie Stadt Bochum',
       'Kreisfreie Stadt Bonn', 'Kreisfreie Stadt Bottrop',
       'Kreisfreie Stadt Dortmund', 'Kreisfreie Stadt Duisburg',
       'Landkreis Bautzen', 'Landkreis Erzgebirgskreis',
       'Landkreis Görlitz', 'Landkreis Leipzig', 'Landkreis Meißen',
       'Landkreis Mittelsachsen', 'Landkreis Nordsachsen',
       'Landkreis Sächsische Schweiz-Osterzgebirge',
       'Landkreis Vogtlandkreis', 'Landkreis Zwickau'], dtype=object)

In [143]:
charging_df['district_city'].value_counts()

district_city
Kreisfreie Stadt München              1410
Kreisfreie Stadt Berlin               1266
Kreisfreie Stadt Hamburg               943
Stadtkreis Stuttgart                   698
Landkreis Region Hannover              693
                                      ...
Landkreis Birkenfeld                    13
Kreisfreie Stadt Pirmasens              13
Kreisfreie Stadt Amberg                 12
Kreisfreie Stadt Offenbach am Main       9
Kreisfreie Stadt Schwabach               9
Name: count, Length: 400, dtype: int64

'city', 'zip_code', 'street', 'house_number', 'secondary_address', 'date_of_commissioning', 'latitude', 'longitude'

In [144]:
charging_df['city'].unique()

array(['Lorsch', 'Fürth', 'Zwingenberg', ..., 'Chemnitz-Röhrsdorf',
       'Dresden-Prohlis', 'Leipzig - Alt-West'], dtype=object)

In [145]:
value_counts2 = charging_df['city'].value_counts()
first_values1 = value_counts2.head(10)  # Adjust the number according to your preference
print(first_values1)

city
München                1403
Berlin                 1250
Hamburg                 938
Stuttgart               696
Hannover                474
Dortmund                451
Rüsselsheim am Main     411
Düsseldorf              401
Sindelfingen            329
Regensburg              310
Name: count, dtype: int64

In [146]:
value_counts2

city
München                                   1403
Berlin                                    1250
Hamburg                                    938
Stuttgart                                  696
Hannover                                   474
                                          ...
Oberelchingen                                1
Unterelchingen                               1
Buch                                         1
Röthenbach an der Pegnitz (Haimendorf)       1
Leipzig - Alt-West                           1
Name: count, Length: 5960, dtype: int64

In [147]:
cars_df = pd.read_csv('car_data.csv')
cars_df
#https://www.eea.europa.eu/en/topics/in-depth/electric-vehicles?activeAccordion=0c1d4a46-bfa0-4770-9a74-740c6919e894

/var/folders/pf/nfj1603d1fjc2xkhkrlls95m0000gn/T/ipykernel_16751/4214540322.py:1: DtypeWarning: Columns (2,3,8,12,28,35) have mixed types. Specify dtype option on import or set low_memory=False.
  cars_df = pd.read_csv('car_data.csv')

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,77798939,FR,IP-DGY____EAT82552-VR3-0,STELLANTIS,PSA,PSA AUTOMOBILES SA,NaN,e9*2018/858*11066*03,N,D,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-12-30,1.3,59.0
1,77798940,FR,IP-DGY____EAT82552-VR3-0,STELLANTIS,PSA,PSA AUTOMOBILES SA,NaN,e9*2018/858*11066*03,N,D,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-10-27,1.3,60.0
2,77798941,FR,IP-DGY____EAT82552-VR3-0,STELLANTIS,PSA,PSA AUTOMOBILES SA,NaN,e9*2018/858*11066*03,N,D,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-10-31,1.3,59.0
3,77798942,FR,IP-DGY____EAT82552-VR3-0,STELLANTIS,PSA,PSA AUTOMOBILES SA,NaN,e9*2018/858*11066*03,N,D,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-11-30,1.3,59.0
4,77798943,FR,IP-DGY____EAT82552-VR3-0,STELLANTIS,PSA,PSA AUTOMOBILES SA,NaN,e9*2018/858*11066*03,N,D,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-10-27,1.3,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479275,85804985,DK,NaN,NaN,DUPLICATE,AUTOMOBILES PEUGEOT,NaN,e2*2007/46*0534*22,M,R,...,e2 28 29,NaN,2.1,NaN,NaN,P,2022,NaN,NaN,NaN
9479276,85804990,DK,NaN,NaN,DUPLICATE,AUTOMOBILES PEUGEOT,NaN,e2*2007/46*0534*22,M,R,...,e2 28 29,NaN,2.1,NaN,NaN,P,2022,NaN,NaN,NaN
9479277,85805000,DK,NaN,NaN,DUPLICATE,AUTOMOBILES PEUGEOT,NaN,e2*2007/46*0534*22,M,R,...,e2 28 29,NaN,2.1,NaN,NaN,P,2022,NaN,NaN,NaN
9479278,85805005,DK,NaN,NaN,DUPLICATE,AUTOMOBILES PEUGEOT,NaN,e2*2007/46*0534*22,M,R,...,e2 28 29,NaN,2.1,NaN,NaN,P,2022,NaN,NaN,NaN
9479279,85815141,DK,NaN,NaN,DUPLICATE,BAYERISCHE MOTOREN WERKE AG,NaN,e1*2007/46*1750*13,G5K,11AJ,...,e24 32 37,NaN,1.8,NaN,NaN,P,2022,NaN,NaN,NaN

In [148]:
cars_df['Country'].unique()

array(['FR', 'NO', 'LV', 'ES', 'BE', 'PL', 'DE', 'SI', 'NL', 'HU', 'RO',
       'SE', 'IT', 'SK', 'AT', 'BG', 'GR', 'LU', 'PT', 'IS', 'MT', 'CY',
       'DK', 'HR', 'CZ', 'FI', 'IE', 'LT', 'EE'], dtype=object)

In [149]:
cars_df['Country'].value_counts()

Country
DE    2570994
FR    1638878
IT    1312627
ES     851105
PL     416075
BE     366557
NL     305887
SE     283679
AT     214394
CZ     185836
NO     174106
PT     156051
DK     143747
RO     129072
HU     111025
IE     105499
GR     105231
FI      79440
SK      78404
SI      45411
HR      42861
LU      38480
BG      28244
LT      24932
EE      20251
IS      16528
LV      16327
CY      11443
MT       6196
Name: count, dtype: int64

In [150]:
column_names_cars = cars_df.columns.tolist()
print(column_names_cars)

['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va', 'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Enedc (g/km)', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm', 'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)', 'Erwltp (g/km)', 'De', 'Vf', 'Status', 'year', 'Date of registration', 'Fuel consumption ', 'Electric range (km)']

In [151]:
#create a data frame that is only considering Germany
cars_de_df = cars_df[cars_df['Country'] == 'DE']

In [152]:
cars_de_df

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
579410,80049550,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-10-17,5.9,NaN
579411,80049554,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-24,5.9,NaN
579412,80049559,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-04-29,5.4,NaN
579413,80049562,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-11,5.9,NaN
579414,80049563,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-05-10,5.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479257,79719120,DE,IP-0104-JT1-1,NaN,DUPLICATE,TOYOTA MOTOR EUROPE NV SA,NaN,e6*2007/46*0289*04,XA5(EU.M),AXAL52(N),...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-08-11,NaN,NaN
9479258,79898480,DE,IP-0500779-NLH-1,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,NaN,e5*2007/46*0121*03,BC3,C5P51,...,e5 29 37,NaN,2.17,NaN,NaN,P,2022,2022-08-29,NaN,NaN
9479259,79898481,DE,IP-0500779-NLH-1,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,NaN,e5*2007/46*0121*03,BC3,C5P51,...,e5 29 37,NaN,2.17,NaN,NaN,P,2022,2022-08-29,NaN,NaN
9479260,79978520,DE,IP-050629-TMA-1,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NaN,e5*2007/46*1075*10,PDE,BBP91,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-04-05,NaN,NaN
9479261,79987802,DE,IP-0500707-TMA-1,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NaN,e5*2018/858*00001*04,NX4E,F5P21,...,NaN,NaN,NaN,NaN,NaN,P,2022,2022-07-26,NaN,NaN

In [153]:
cars_de_df['Enedc (g/km)'].unique()

array([nan,  0., 26., 31.])

In [154]:
cars_de= cars_de_df.drop(['Enedc (g/km)', 'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm', 'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)', 'Erwltp (g/km)'], axis=1)
cars_de

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,r,m (kg),Mt,De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
579410,80049550,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,1,1262.0,1398.0,NaN,NaN,P,2022,2022-10-17,5.9,NaN
579411,80049554,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,1,1277.0,1393.0,NaN,NaN,P,2022,2022-05-24,5.9,NaN
579412,80049559,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,1,1242.0,1361.0,NaN,NaN,P,2022,2022-04-29,5.4,NaN
579413,80049562,DE,IP-MQB27SZ_A0_0549-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,1,1262.0,1404.0,NaN,NaN,P,2022,2022-05-11,5.9,NaN
579414,80049563,DE,IP-MQB27SZ_A0_0539-TMB-1,VOLKSWAGEN,SKODA,SKODA AUTO AS,NaN,e8*2007/46*0349*14,NW,ABCDLAAX0,...,1,1242.0,1378.0,NaN,NaN,P,2022,2022-05-10,5.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479257,79719120,DE,IP-0104-JT1-1,NaN,DUPLICATE,TOYOTA MOTOR EUROPE NV SA,NaN,e6*2007/46*0289*04,XA5(EU.M),AXAL52(N),...,1,1665.0,1780.0,NaN,NaN,P,2022,2022-08-11,NaN,NaN
9479258,79898480,DE,IP-0500779-NLH-1,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,NaN,e5*2007/46*0121*03,BC3,C5P51,...,1,1195.0,1320.0,NaN,NaN,P,2022,2022-08-29,NaN,NaN
9479259,79898481,DE,IP-0500779-NLH-1,NaN,DUPLICATE,HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS,NaN,e5*2007/46*0121*03,BC3,C5P51,...,1,1195.0,1320.0,NaN,NaN,P,2022,2022-08-29,NaN,NaN
9479260,79978520,DE,IP-050629-TMA-1,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NaN,e5*2007/46*1075*10,PDE,BBP91,...,1,1444.0,1522.0,NaN,NaN,P,2022,2022-04-05,NaN,NaN
9479261,79987802,DE,IP-0500707-TMA-1,NaN,DUPLICATE,HYUNDAI MOTOR MANUFACTURING CZECH SRO,NaN,e5*2018/858*00001*04,NX4E,F5P21,...,1,1566.0,1625.0,NaN,NaN,P,2022,2022-07-26,NaN,NaN

In [155]:
cars_de.shape

(2570994, 25)

In [156]:
columns_cars = cars_de.columns.tolist()
print(columns_cars)

['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va', 'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'De', 'Vf', 'Status', 'year', 'Date of registration', 'Fuel consumption ', 'Electric range (km)']

In [157]:
cars_de['Mp'].unique() 
#can drop this

array(['VOLKSWAGEN', 'TESLA-HONDA-JLR', nan, 'RENAULT-NISSAN-MITSUBISHI',
       'HYUNDAI MOTOR EUROPE', 'KIA', 'MAZDA-SUBARU-SUZUKI-TOYOTA', 'BMW',
       'STELLANTIS', 'FORD', 'MERCEDES-BENZ'], dtype=object)

In [158]:
cars_de['VFN'].unique() 
#can drop this

array(['IP-MQB27SZ_A0_0549-TMB-1', 'IP-MQB27SZ_A0_0539-TMB-1',
       'IP-MQB27SZ_B0_0539-TMB-1', ..., 'IP-MQB37AS_B0_0821-TMB-1',
       'IP-MQB37AS_A0_0821-TMB-1', 'IP-MQB37SZ_B1_0552-VSS-1'],
      dtype=object)

In [159]:
cars_de['Mh'].unique()

array(['SKODA', 'TESLA', 'SAIC MOTOR CORPORATION', 'AA-IVA', 'HENAN SUDA',
       'DFSK', 'JIANGLING MOTOR', 'VOLVO', 'LANZHOU',
       'MITSUBISHI MOTORS THAILAND', 'HYUNDAI ASSAN', 'BENTLEY',
       'NISSAN AUTOMOTIVE EUROPE', 'HYUNDAI CZECH', 'DUPLICATE',
       'HYUNDAI', 'KIA', 'SSANGYONG', 'ZHAOQING', 'GEELY', 'BYD',
       'GREAT WALL MOTOR', 'NIO', 'ANHUI',
       'MITSUBISHI MOTORS CORPORATION', 'NANJING GOLDEN DRAGON',
       'POLESTAR', 'VOLKSWAGEN', 'AUDI AG', 'OUT OF SCOPE', 'DONKERVOORT',
       'TOYOTA', 'TOYOTA MOTOR CORPORATION', 'BMW AG', 'CHRYSLER',
       'MAZDA', 'LUCID USA', 'SUZUKI MOTOR CORPORATION',
       'FORD MOTOR AUSTRALIA', 'SMART', 'SUBARU', 'FORD MOTOR COMPANY',
       'GENERAL MOTORS HOLDINGS', 'HONDA MOTOR CO', 'MAZDA EUROPE',
       'DALLARA', 'FIAT GROUP', 'MASERATI', 'ALFA ROMEO', 'FERRARI',
       'LAMBORGHINI', 'DR AUTOMOBILES', 'MERCEDES AMG', 'NEXT EGO MOBILE',
       'PORSCHE', 'AUDI SPORT', 'FORD WERKE GMBH', 'MERCEDES-BENZ AG',
       'ALPINA', 'OPEL AUTOMOBILE', 'PSA', 'SEAT', 'AUTOMOBILES PEUGEOT',
       'RENAULT', 'RENAULT TRUCKS', 'AUTOMOBILES CITROEN', 'ALPINE',
       'SECMA', 'DACIA', 'BUGATTI RIMAC', 'AUDI HUNGARIA',
       'MAGYAR SUZUKI', 'KIA SLOVAKIA', 'MORGAN',
       'JAGUAR LAND ROVER LIMITED', 'MCLAREN', 'ROLLS-ROYCE', 'LOTUS',
       'ASTON MARTIN', 'CATERHAM', 'BMW GMBH'], dtype=object)

In [160]:
cars_de['Mh'].isna().sum()

0

In [161]:
cars_de['Man'].unique() 
#can drop this, do not need so much granularity

array(['SKODA AUTO AS', 'TESLA INC', 'SAIC MOTOR CORPORATION LTD',
       'AA-IVA', 'HENAN SUDA ELECTRIC VEHICLE TECHNOLOGY CO LTD',
       'DFSK MOTOR CO LTD', 'JIANGLING MOTOR HOLDING CO LTD',
       'VOLVO CAR CORPORATION', 'LANZHOU ZHIDOU ELECTRIC VEHICLE CO LTD',
       'MITSUBISHI MOTORS THAILAND CO LTD',
       'HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET AS',
       'BENTLEY MOTORS LTD', 'NISSAN AUTOMOTIVE EUROPE SAS',
       'HYUNDAI MOTOR MANUFACTURING CZECH SRO', 'HYUNDAI MOTOR COMPANY',
       'KIA CORPORATION', 'SSANGYONG MOTOR COMPANY',
       'ZHAOQING XIAOPENG INVESTMENT OF NEW ENERGY CO LTD',
       'ZHEJIANG GEELY AUTOMOBILE CO LTD',
       'BYD AUTO INDUSTRY COMPANY LIMITED',
       'GREAT WALL MOTOR COMPANY LIMITED', 'NIO CO',
       'ANHUI JIANGHUAI AUTOMOBILE GROUP CORP LTD',
       'MITSUBISHI MOTORS CORPORATION',
       'NANJING GOLDEN DRAGON BUS CO LTD', 'POLESTAR PERFORMANCE AB',
       'VOLKSWAGEN AG', 'AUDI AG', 'LADA AUTOMOBILE GMBH',
       'DONKERVOORT AUTOMOBIELEN BV', 'TOYOTA MOTOR EUROPE NV SA',
       'TOYOTA MOTOR CORPORATION', 'BAYERISCHE MOTOREN WERKE AG',
       'FCA US LLC', 'MAZDA MOTOR CORPORATION', 'LUCID USA INC',
       'SUZUKI MOTOR CORPORATION',
       'FORD MOTOR COMPANY OF AUSTRALIA PTY LIMITED',
       'SMART AUTOMOBILE CO LTD', 'SUBARU CORPORATION',
       'FORD MOTOR COMPANY', 'GENERAL MOTORS HOLDINGS LLC',
       'HONDA MOTOR CO LTD', 'MAZDA MOTOR LOGISTICS EUROPE NV',
       'FABBRICA DALLARA SRL', 'FCA ITALY SPA', 'MASERATI SPA',
       'ALFA ROMEO SPA', 'FERRARI SPA', 'AUTOMOBILI LAMBORGHINI SPA',
       'DR AUTOMOBILES SRL', 'MERCEDES-AMG GMBH', 'NEXT E.GO MOBILE SE',
       'DR ING HCF PORSCHE AG', 'AUDI SPORT GMBH', 'FORD WERKE GMBH',
       'MERCEDES-BENZ AG', 'ALPINA BURKARD BOVENSIEPEN GMBH E CO KG',
       'OPEL AUTOMOBILE GMBH', 'PSA AUTOMOBILES SA', 'SEAT SA',
       'AUTOMOBILES PEUGEOT', 'RENAULT SAS', 'RENAULT TRUCKS',
       'AUTOMOBILES CITROEN', 'MANUFACTURE ALPINE DIEPPE JEAN REDELE',
       'SECMA SAS', 'AUTOMOBILE DACIA SA', 'BUGATTI RIMAC DOO',
       'AUDI HUNGARIA ZRT', 'MAGYAR SUZUKI CORPORATION LTD',
       'KIA SLOVAKIA SRO', 'MORGAN TECHNOLOGIES LTD',
       'JAGUAR LAND ROVER LIMITED', 'MCLAREN AUTOMOTIVE LIMITED',
       'ROLLS-ROYCE MOTOR CARS LTD', 'LOTUS CARS LIMITED',
       'ASTON MARTIN LAGONDA LTD', 'CATERHAM CARS LIMITED', 'BMW M GMBH'],
      dtype=object)

In [162]:
cars_de['MMS'].unique() 
#can drop this

array([nan])

In [163]:
cars_de['Tan'].unique() 
#can drop this

array(['e8*2007/46*0349*14', 'e8*2007/46*0349*15', 'e8*2007/46*0349*17',
       ..., 'e6*2007/46*0485*03', 'e6*2007/46*0485*04',
       'e4*2007/46*1399*15'], dtype=object)

In [164]:
cars_de['T'].unique() 
#can drop this

array(['NW', '003', 'AS23P-L', ..., 'T32', 'XU7(EU.M)', 'K14'],
      dtype=object)

In [165]:
cars_de['Va'].unique() 
#can drop this

array(['ABCDLAAX0', 'Y5LD', 'Y6LR', ..., 'AH2S', 'ACDNFEX11', 'ACDTRAX01'],
      dtype=object)

In [166]:
cars_de['Ve'].unique() 
#can drop this

array(['NFD7FD7CW0094BISTNK4C1A0A', 'MFD7FD7CW0094BISTNK3S1A0A',
       'NFM6FM6AJ0214BISTNK3C1A0A', ..., 'HNSP-A1D800', '5GFP-A1D800',
       'FM6SFM6C90124BIVL1C18BCA8M15'], dtype=object)

In [167]:
cars_de['Mk'].unique() 
#can drop this

array(['SKODA', 'TESLA', 'MG. ROEWE', 'AUDI', 'VOLKSWAGEN. VW', nan,
       'SUDA', 'HONDA', 'DFSK. SERES. SOKON', 'DFSK', 'FORD', 'AIWAYS',
       'VOLVO', 'DFSK. SOKON', 'DXK6470AS2F', 'ZHIDOU. ZD. ELARIS',
       'ZHIDOU. ZD', 'MITSUBISHI', 'ISUZU', 'MAHINDRA', 'JEEP', 'SAIC MG',
       'TUERKIYE`NIN OTOMOBILI G.', 'HYUNDAI MOTORSPORT', 'HYUNDAI',
       'BENTLEY', 'NISSAN', 'HONDA MOTOR', 'HYUNDAI MOTOR',
       'HYUNDAI. GENESIS', 'GENESIS', 'KIA', 'SSANGYONG', 'XPENG',
       'SMART', 'LOTUS', 'ZEEKR', 'LYNK&CO', 'MERCEDES-BENZ', 'XINGYUE',
       'LISTERBELL', 'BMW BRILLIANCE (RC)', 'BMW', 'BYD', 'CITROEN',
       'PEUGEOT', 'FAW', 'JETTA', 'GREAT WALL MOTOR COMPANY', 'ORA',
       'GREAT WALL MOTOR COMPANY LIMITED', 'WEY', 'TANK', 'NIO', 'JAC',
       'SKYWELL. SKYWORTH', 'SKYWELL', 'BAIC', 'POLESTAR', 'MAZDA',
       'BRONTO', 'LADA', 'INVEST-AUTO', 'AVTOVAZ', 'WAS', 'DONKERVOORT',
       'UAZ', 'APAL', 'TOYOTA', 'BMW M', 'LUCID MOTORS', 'INFINITI',
       'SUZUKI', 'RIVIAN', 'DODGE', 'FCA', 'FIAT', 'SUBARU', 'RAM',
       'CHEVROLET', 'GMC', 'CADILLAC', 'CHRYSLER', 'LEXUS', 'DALLARA',
       'DALARA', 'PAGANI', 'MASERATI', 'ALFA ROMEO', 'IVECO', 'FERRARI',
       'ITINEO', 'LAMBORGHINI', 'DR AUTOMOBILES S.R.L.', 'MINI',
       'MERCEDES-AMG', 'E.GO', 'PORSCHE', 'Y1A', 'AUDI SPORT', 'BMW I',
       'INEOS AUTOMOTIVE GMBH', 'BUSCONCEPT', 'RENAULT', 'RENAULT SPORT',
       'FORD-CNG-TECHNIK', 'RANDGER', 'KLASSEN', 'ALPINA', 'AUDI AG',
       'MERCEDES BENZQ', 'OPEL', 'BRABUS AUTOMOTIVE', 'APOLLO',
       'WIESMANN', 'TOGG', 'VOLKSWAGEN MOTORSPORT', 'RUF', 'BOLDMEN',
       'LETECH', 'FORD DEH', 'FAISSNER PETERMEIER FAHRZ', 'SEAT', 'CUPRA',
       'ALPINE', 'SECMA', 'DS AUTOMOBILES', 'DS', 'DACIA', 'RIMAC',
       'TATA', 'VINFAST', 'MORGAN', 'WESTFIELD(GB)', 'JAGUAR',
       'LAND ROVER', 'MCLAREN', 'ROLLS-ROYCE', 'ASTON MARTIN',
       'CATERHAM CARS LTD', 'CATERHAM CARS LTD.',
       'HYUNDAI MOTOR CORPORATION', 'HYUNDAI MOTOR COMPANY'], dtype=object)

In [168]:
cars_de['Cn'].unique()

array(['KAMIQ', 'MODEL Y', 'MG RX6 PLUG-IN HYBRID', ..., 'CIVIC TYPE R',
       'NISSAN MICRA', 'SX4 S-CROSS'], dtype=object)

In [169]:
cars_de['Ct'].unique()

array(['M1', 'M1G', 'N1G', 'N1', 'N2'], dtype=object)

In [170]:
cars_de['Cr'].unique()

array(['M1', 'M1G'], dtype=object)

In [171]:
cars_de['r'].unique() 
#can drop this

array([1])

In [172]:
cars_de['m (kg)'].unique() 
#can drop this

array([1262., 1277., 1242., ..., 1862., 1105., 1329.])

In [173]:
cars_de['Mt'].unique() 
#can drop this

array([1398., 1393., 1361., ..., 1049., 1054., 1070.])

In [174]:
cars_de['De'].unique() 
#can drop this

array([nan])

In [175]:
cars_de['Vf'].unique() 
#can drop this

array([nan])

In [176]:
cars_de['Status'].unique()

array(['P'], dtype=object)

In [177]:
cars_de['Fuel consumption '].unique()

array([ 5.9,  5.4,  5.5,  5.8,  6.1,  5.7,  5.3,  6. ,  nan,  8. ,  1.8,
        7.2,  6.6,  2. ,  1.9,  0.8,  0.7,  2.5,  2.6,  2.4,  1.1,  1.2,
        1. ,  7.8,  7.6,  5.2,  5.1,  5. ,  6.5,  6.4,  6.3,  5.6,  6.2,
        7.7,  8.4,  4.7,  4.4,  4.5,  4.6,  4.8,  1.4,  6.7,  7.1,  7. ,
        1.6,  4.9,  0.9,  8.3,  7.5,  8.1,  8.2,  8.7,  8.6,  0.6, 11.7,
       11.5,  8.5,  2.2, 11.3, 11.2,  2.1, 11.4,  2.3, 11.1, 10.9, 11.6,
       11. ,  8.8, 10.8,  2.8,  3. ,  2.9,  1.3,  6.8,  1.5,  7.4,  6.9,
        7.9,  7.3,  8.9,  9. , 10.7,  9.2,  9.3,  9.1,  3.8, 10.4, 10.5,
       10.2, 10.3, 10.1, 10. ,  9.9, 10.6,  9.4, 12. , 11.8, 11.9,  3.5,
        4.1, 14. , 14.3,  9.7, 12.1,  3.1, 12.3, 13. , 16.1, 16.4,  9.8,
       13.1, 12.8, 12.9, 12.6, 12.5, 16. , 14.2, 16.9, 12.7,  2.7,  9.6,
       12.2,  3.3,  3.2,  3.4,  3.9,  3.7,  9.5,  4. , 13.3, 13.5, 13.4,
       13.2, 12.4,  1.7, 16.7,  0.5, 13.8, 13.7, 13.6, 13.9, 14.1, 14.9,
       14.8, 15. , 15.1, 15.2, 15.3, 14.7, 20.1, 14.4, 14.5, 15.7, 15.6,
       15.5, 15.4, 15.8, 16.3, 16.2, 15.9, 16.5, 16.6, 24.1,  4.3,  4.2,
       14.6])

In [178]:
cars_de['Electric range (km)'].unique() 
#this is the column that will help me assess the % of EV

array([ nan,  52., 380., 310., 400., 320., 370., 402., 440., 263., 435.,
       350., 450., 210.,  54., 225., 255.,  48.,  50., 270., 385., 534.,
        62., 484.,  58., 485., 520., 517., 470., 466., 465., 455.,  57.,
       339.,  69., 148., 420., 480., 460., 477., 505., 456., 131., 491.,
        60.,  56.,  53.,  84.,  83.,  78.,  86.,  87.,  81.,  91.,  79.,
        85.,  66.,  71.,  65.,  70.,  68., 799., 200., 237.,  59., 410.,
       441., 426.,  61.,  47.,  46., 408.,  49., 394.,  55., 282., 190.,
        20.,  72.,  75.,  74.,  77.,  64.,  63., 462., 403., 478., 413.,
       482., 469., 472., 396., 476., 407., 414., 434., 405., 437., 436.,
       425., 418., 369., 365., 345., 330.,  42.,  67., 150., 421., 274.,
       267., 404., 273., 265., 417., 272., 100., 106., 105., 101., 104.,
       486., 113., 112., 121.,  73., 471., 454., 442., 495., 808., 771.,
       843., 737., 774., 700., 705., 668., 627.,  76.,  80., 493.,  51.,
        45., 140., 153., 145., 152., 159., 157., 116., 114., 129., 126.,
       115., 132., 130., 117., 510., 359., 540., 253., 227., 313., 163.,
       311., 331., 351., 361., 322., 332., 340., 352., 353., 354., 349.,
       342., 178., 230., 415.,  40., 432., 362.])

In [179]:
cars_de1= cars_de.drop(['VFN', 'Mp', 'Man', 'MMS', 'Tan', 'T', 'Va', 'Ve', 'Mk', 'r', 'm (kg)', 'Mt', 'De', 'Vf'], axis=1)
cars_de1

,ID,Country,Mh,Cn,Ct,Cr,Status,year,Date of registration,Fuel consumption,Electric range (km)
579410,80049550,DE,SKODA,KAMIQ,M1,M1,P,2022,2022-10-17,5.9,NaN
579411,80049554,DE,SKODA,KAMIQ,M1,M1,P,2022,2022-05-24,5.9,NaN
579412,80049559,DE,SKODA,KAMIQ,M1,M1,P,2022,2022-04-29,5.4,NaN
579413,80049562,DE,SKODA,KAMIQ,M1,M1,P,2022,2022-05-11,5.9,NaN
579414,80049563,DE,SKODA,KAMIQ,M1,M1,P,2022,2022-05-10,5.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9479257,79719120,DE,DUPLICATE,TOYOTA RAV4,M1,M1,P,2022,2022-08-11,NaN,NaN
9479258,79898480,DE,DUPLICATE,BAYON,M1,M1,P,2022,2022-08-29,NaN,NaN
9479259,79898481,DE,DUPLICATE,BAYON,M1,M1,P,2022,2022-08-29,NaN,NaN
9479260,79978520,DE,DUPLICATE,I 30,M1,M1,P,2022,2022-04-05,NaN,NaN
9479261,79987802,DE,DUPLICATE,TUCSON IX35,M1,M1,P,2022,2022-07-26,NaN,NaN

# Meaning of Ct column

M 

Power-driven vehicles having at least four wheels and used for the carriage of passengers.

M1
Vehicles used for the carriage of passengers and comprising not more than eight seats in addition to the driver's seat.
M2 

Vehicles used for the carriage of passengers, comprising more than eight seats in addition to the driver's seat, and having a maximum mass not exceeding 5 tonnes. 

M3 

Vehicles used for the carriage of passengers, comprising more than eight seats in addition to the driver's seat, and having a maximum mass exceeding 5 tonnes. 

N 

Power-driven vehicles having at least four wheels and used for the carriage of goods 

N1 

Vehicles used for the carriage of goods and having a maximum mass not exceeding 3.5 tonnes. 

N2 

Vehicles used for the carriage of goods and having a maximum mass exceeding 3.5 tonnes but not exceeding 12 tonnes.

In [180]:
#saving both data frames to new csv's

cars_de1.to_csv('cars_de.csv', index=False)

In [181]:
charging_df.to_csv('charging_df.csv', index=False)